<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herecomethegirls.abrannigan.android.datastream.datastreams">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="https://play.google.com/store/apps/details?id=com.herecomethegirls.abrannigan.android.datastream.datastreams&amp;rdid=com.herecomethegirls.abrannigan.android.datastream.datastreams" android:scheme="http"/>
                <data android:host="https://play.google.com/store/apps/details?id=com.herecomethegirls.abrannigan.android.datastream.datastreams&amp;rdid=com.herecomethegirls.abrannigan.android.datastream.datastreams" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">



        </activity>
        <activity
            android:name=".LocateActivity"
            android:label="@string/title_activity_locate"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/chat"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ShareLocationActivity"
            android:label="@string/share_location"
            android:theme="@style/AppTheme" />




        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBScenVS-Wfah3k3HG2FjDf02YswwbKZQc" />

    </application>



</manifest>